# **ETL Process**

In [74]:
import numpy as np
import pandas as pd

# ignore warnings for cleaner notebook
import warnings
warnings.filterwarnings('ignore')

In [75]:
# reading base dataset
df = pd.read_csv('Project2_Dataset.csv')
df.head()

,ID,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus Involvement,...,Age,National Remoteness Areas,SA4 Name 2021,National LGA Name 2024,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
0,1,20241115,NSW,12,2024,Friday,4:00,Single,1,No,...,74,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,65_to_74,Weekday,Night
1,2,20241125,NSW,12,2024,Friday,6:15,Single,1,No,...,19,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Local Road,No,No,17_to_25,Weekday,Day
2,3,20246013,TAS,12,2024,Friday,9:43,Single,1,No,...,33,Inner Regional Australia,Launceston and North East,Northern Midlands,Local Road,Yes,No,26_to_39,Weekday,Day
3,4,20241002,NSW,12,2024,Friday,10:35,Single,1,No,...,32,Outer Regional Australia,New England and North West,Armidale,National or State Highway,No,No,26_to_39,Weekday,Day
4,5,20243185,QLD,12,2024,Friday,13:00,Single,1,No,...,61,Inner Regional Australia,Toowoomba,Lockyer Valley,National or State Highway,No,No,40_to_64,Weekday,Day

In [76]:
df.columns

Index(['ID', 'Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time',
       'Crash Type', 'Number Fatalities', 'Bus Involvement',
       'Heavy Rigid Truck Involvement', 'Articulated Truck Involvement',
       'Speed Limit', 'Road User', 'Gender', 'Age',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2024',
       'National Road Type', 'Christmas Period', 'Easter Period', 'Age Group',
       'Day of week', 'Time of day'],
      dtype='object')

In [77]:
df = df.drop_duplicates()
df.isna().sum()

ID                               0
Crash ID                         0
State                            0
Month                            0
Year                             0
Dayweek                          0
Time                             0
Crash Type                       0
Number Fatalities                0
Bus Involvement                  0
Heavy Rigid Truck Involvement    0
Articulated Truck Involvement    0
Speed Limit                      0
Road User                        0
Gender                           0
Age                              0
National Remoteness Areas        0
SA4 Name 2021                    0
National LGA Name 2024           0
National Road Type               0
Christmas Period                 0
Easter Period                    0
Age Group                        0
Day of week                      0
Time of day                      0
dtype: int64

In [78]:
for col in df.select_dtypes(exclude='number'):
    print(f"{col}: {df[col].unique()}")

State: ['NSW' 'TAS' 'QLD' 'SA' 'VIC' 'ACT' 'NT' 'WA']
Dayweek: ['Friday' 'Monday' 'Saturday' 'Sunday' 'Thursday' 'Tuesday' 'Wednesday']
Time: ['4:00' '6:15' '9:43' ... '21:54' '5:33' '20:51']
Crash Type: ['Single' 'Multiple']
Bus Involvement: ['No' 'Yes']
Heavy Rigid Truck Involvement: ['No' 'Yes']
Articulated Truck Involvement: ['No' 'Yes']
Road User: ['Driver' 'Passenger' 'Motorcycle rider' 'Pedestrian' 'Pedal cyclist'
 'Motorcycle pillion passenger']
Gender: ['Male' 'Female']
National Remoteness Areas: ['Inner Regional Australia' 'Outer Regional Australia'
 'Major Cities of Australia' 'Very Remote Australia' 'Remote Australia']
SA4 Name 2021: ['Riverina' 'Sydney - Baulkham Hills and Hawkesbury'
 'Launceston and North East' 'New England and North West' 'Toowoomba'
 'Barossa - Yorke - Mid North' 'Darling Downs - Maranoa' 'Hobart'
 'South Australia - South East' 'Sydney - Outer West and Blue Mountains'
 'Capital Region' 'Cairns' 'Illawarra' 'Hunter Valley exc Newcastle'
 'Wide Bay' 'Central West' 'Sydney - Inner South West' 'Murray'
 'Mid North Coast' 'Mackay - Isaac - Whitsunday' 'Logan - Beaudesert'
 'Far West and Orana' 'South Australia - Outback' 'Queensland - Outback'
 'Central Coast' 'Newcastle and Lake Macquarie' 'Central Queensland'
 'Sydney - Blacktown' 'Sydney - South West' 'Sydney - Parramatta'
 'Moreton Bay - North' 'Richmond - Tweed' 'Melbourne - Inner'
 'Brisbane - South' 'Adelaide - North' 'Melbourne - North West'
 'Warrnambool and South West' 'Melbourne - South East'
 'Latrobe - Gippsland' 'Melbourne - North East' 'Ipswich'
 'Adelaide - West' 'Gold Coast' 'Australian Capital Territory'
 'Mornington Peninsula' 'Brisbane Inner City' 'Moreton Bay - South'
 'Sydney - North Sydney and Hornsby' 'Bendigo' 'North West'
 'Sydney - Outer South West' 'Sunshine Coast' 'Hume' 'Townsville'
 'Adelaide - Central and Hills' 'Sydney - City and Inner South'
 'Melbourne - Inner East' 'Brisbane - East' 'Melbourne - Outer East'
 'Geelong' 'Adelaide - South' 'Coffs Harbour - Grafton' 'Shepparton'
 'South East' 'Ballarat' 'Southern Highlands and Shoalhaven'
 'Melbourne - West' 'Sydney - Northern Beaches' 'West and North West'
 'Melbourne - Inner South' 'Northern Territory - Outback' 'Darwin'
 'Brisbane - North' 'Sydney - Inner West' 'Sydney - Sutherland'
 'Sydney - Eastern Suburbs' 'Sydney - Ryde' 'Brisbane - West'
 'Western Australia - Wheat Belt' 'Perth - South West' 'Mandurah'
 'Western Australia - Outback (North)' 'Perth - North West'
 'Perth - Inner' 'Perth - South East'
 'Western Australia - Outback (South)' 'Bunbury' 'Perth - North East']
National LGA Name 2024: ['Wagga Wagga' 'Hawkesbury' 'Northern Midlands' 'Armidale'
 'Lockyer Valley' 'Wakefield' 'Southern Downs' 'Brighton' 'West Tamar'
 'Mid Murray' 'Blue Mountains' 'Upper Lachlan' 'Wattle Range' 'Cairns'
 'Wollongong' 'Penrith' 'Upper Hunter' 'South Burnett' 'Mid-Western'
 'Canterbury-Bankstown' 'Greater Hume' 'Barossa' 'Port Macquarie-Hastings'
 'Mackay' 'Douglas' 'Yankalilla' 'Logan' 'Dorset' 'Nambucca Valley'
 'Narromine' 'Fraser Coast' 'Unincorporated SA' 'Shellharbour' 'Narrabri'
 'Cook' 'Tenterfield' 'Central Coast (NSW)' 'Tamworth' 'Hilltops' 'Forbes'
 'Toowoomba' 'Lake Macquarie' 'Livingstone' 'Blacktown' 'Balranald'
 'Lockhart River' 'Light' 'Cassowary Coast' 'Tumby Bay' 'Liverpool'
 'Cumberland' 'Muswellbrook' 'Moreton Bay' 'Ballina' 'Kyogle' 'Bundaberg'
 'Melbourne' 'Brisbane' 'Snowy Valleys' 'Whitsunday' 'Fairfield'
 'Yass Valley' 'Central Highlands (Qld)' 'The Hills' 'Salisbury'
 'Port Stephens' 'Macedon Ranges' 'Moyne' 'Cardinia' 'East Gippsland'
 'Hornsby' 'Whittlesea' 'Mareeba' 'Mid-Coast' 'Rockhampton' 'Ipswich'
 'Glenelg' 'Western Downs' 'Port Adelaide Enfield' 'Cabonne' 'Gold Coast'
 'Unincorporated ACT' 'Frankston' 'Moree Plains' 'Parramatta'
 'Meander Valley' 'Queanbeyan-Palerang' 'Snowy Monaro' 'Federation'
 'Cowra' 'Goulburn Mulwaree' 'Gympie' 'Willoughby' 'Shoalhaven'
 'Greater Bendigo' 'Nillumbik' 'Tatiara' 'Tweed' 'Ararat' 'Colac Otway'
 'McKinlay' 'Singleton' 'Gladstone' 'Lithgow' 'Campbelltown (NSW)'
 'Sunshine Coast' 'Warrumbungle' 'Noosa' 'Gawler' 'Alpine' 'Baw Baw'
 'Isaac' 'Maranoa' 'Southern Grampians' 'Cessnock' 'Scenic Rim' 'Somerset'
 'Hinchinbrook' 'Playford' 'Cobar' 'Adelaide Hills' 'Bega Valley'
 'Tea Tree Gully' 'Kiama' 'Wollondilly' 'Casey' 'Northern Areas'
 'Tablelands' 'Sydney' 'Murrindindi' 'Albury' 'Boroondara' 'Redland'
 'South Gippsland' 'Yarra Ranges' 'Surf Coast' 'Mount Barker' 'Maitland'
 'Hobart' 'Mitcham' 'Clarence Valley' 'Adelaide' 'Lismore'
 'Greater Shepparton' 'Merri-bek' 'Narrandera' 'Huon Valley' 'Griffith'
 'Wodonga' 'Darebin' 'Ballarat' 'Wingecarribee' 'Maroondah'
 'North Burnett' 'Mornington Peninsula' 'Unley' 'Alexandrina' 'Melton'
 'Burdekin' 'Knox' 'Monash' 'Unincorporated NSW' 'Barcaldine' 'Wyndham'
 'Glen Innes Severn' 'Northern Beaches' 'Townsville' 'Golden Plains'
 'Clarence' 'Georges River' 'Kingston (Vic.)' 'Manningham' 'Bathurst'
 'Wudinna' 'Inverell' 'Brimbank' 'Charles Sturt' 'Flinders (Tas.)'
 'Burnie' 'Dubbo' 'Greater Geelong' 'Mitchell' 'Onkaparinga' 'Stonnington'
 'Launceston' 'Indigo' 'Yarra' 'Port Phillip' 'Waratah-Wynyard' 'Campaspe'
 'Barkly' 'Blayney' 'Campbelltown (SA)' 'Latrobe (Vic.)' 'Palmerston'
 'Gunnedah' "Break O'Day" 'Buloke' 'West Wimmera' 'Ku-ring-gai'
 'Warrnambool' 'Berrigan' 'Warren' 'Moira' 'Berri Barmera' 'Moonee Valley'
 'Litchfield' 'Greater Dandenong' 'Inner West' 'Whyalla' 'Mount Isa'
 'Maribyrnong' 'Marion' 'Mildura' 'Mansfield' 'Charters Towers'
 'Richmond Valley' 'Sutherland' 'Hume' 'Newcastle' 'Glen Eira'
 'Yarriambiack' 'Pyrenees' 'Strathfield' 'Bayside (NSW)' 'Coffs Harbour'
 'Murray Bridge' 'Murray River' 'Camden' 'Glenorchy' 'Randwick'
 'Hunters Hill' 'Wangaratta' 'Parkes' 'Byron' 'Moorabool' 'Benalla'
 'Bellingen' 'Wellington' 'Edward River' 'Coorong' 'George Town' 'Ryde'
 'Bass Coast' 'Richmond' 'Strathbogie' 'Hay' 'Weddin' 'Lachlan' 'Waverley'
 'Northern Grampians' 'Horsham' 'Adelaide Plains' 'Mount Remarkable'
 'Gilgandra' 'Goondiwindi' 'Clare and Gilbert Valleys' 'West Torrens'
 'Whitehorse' 'Cloncurry' 'Sorell' 'Towong' 'Grant' 'Hepburn'
 'Circular Head' 'Swan Hill' 'Murrumbidgee' 'Orange' 'Walkerville'
 'Wentworth' 'Tasman' 'Latrobe (Tas.)' 'Port Augusta' 'Liverpool Plains'
 'Banana' 'Eurobodalla' 'Barunga West' 'West Coast' 'Etheridge' 'Bland'
 'Oberon' 'Corangamite' 'Yorke Peninsula' 'Derwent Valley' 'Port Pirie'
 'Devonport' 'Flinders (Qld)' 'Burwood' 'Alice Springs' 'Victoria Daly'
 'Gwydir' 'Banyule' 'Coonamble' 'Kempsey' 'Carrathool' 'Barcoo'
 'Hobsons Bay' 'Temora' 'Karoonda East Murray' 'Unincorporated Vic'
 'Gannawarra' 'Ceduna' 'Darwin' 'Central Desert' 'Murweh'
 'Renmark Paringa' 'Loxton Waikerie' 'Central Coast (Tas.)'
 'Norwood Payneham and St Peters' 'MacDonnell' 'Leeton' 'Kingborough'
 'Copper Coast' 'Lockhart' 'Naracoorte Lucindale' 'Southern Mallee'
 'Kentish' 'Goyder' 'Flinders Ranges' 'Loddon' 'Junee' 'Victor Harbor'
 'Burnside' 'Coomalie ' 'Mosman' 'Glamorgan-Spring Bay'
 'Southern Midlands' 'Mount Alexander' 'North Sydney' 'Roper Gulf'
 'Woollahra' 'Prospect' 'Northern Peninsula Area' 'Unincorporated NT'
 'Orroroo Carrieton' 'Central Goldfields' 'Central Darling' 'Balonne'
 'Walgett' 'Coolamon' 'Bulloo' 'Lane Cove' 'Walcha' 'Bogan' 'Cleve'
 'West Arnhem' 'King Island' 'Kangaroo Island' 'Uralla' 'Holdfast Bay'
 'Brewarrina' 'East Arnhem' 'Port Lincoln' 'Carpentaria' 'Longreach'
 'Lower Eyre Peninsula' 'York' 'Rockingham' 'Plantagenet' 'Kwinana'
 'Murray' 'Dumbleyung' 'Port Hedland' 'Stirling' 'Robe' 'Cambridge'
 'Wanneroo' 'Gosnells' 'Dandaragan' 'Serpentine-Jarrahdale' 'Mandurah'
 'Woodanilling' 'Dowerin' 'Kalgoorlie-Boulder' 'Greater Geraldton'
 'Harvey' 'Bayswater' 'Swan' 'Doomadgee' 'Croydon' 'Albany'
 'Central Highlands (Tas.)' 'Chittering' 'Canning' 'Perenjori'
 'Mount Magnet' 'Donnybrook-Balingup' 'Hope Vale' 'Augusta Margaret River'
 'Vincent' 'Wickepin' 'Cockburn' 'Victoria Park' 'Armadale' 'Bunbury'
 'Gingin' 'Moora' 'Perth' 'Busselton' 'Williams' 'Quilpie' 'Kojonup'
 'Mount Marshall' 'Kingston (SA)' 'Karratha' 'Elliston' 'Coolgardie'
 'Derby-West Kimberley' 'Mundaring' 'Belmont' 'Nungarin' 'Bayside (Vic.)'
 'Northam' 'Melville' 'Bassendean' 'Yilgarn' 'Broome' 'Chapman Valley'
 'Broomehill-Tambellup' 'Meekatharra' 'Esperance' 'Capel' 'Dundas'
 'Lake Grace' 'Dardanup' 'Kondinin' 'Kent' 'Canada Bay' 'Wagin' 'Manjimup'
 'Denmark' 'Boddington' 'Bruce Rock' 'Kulin' 'Cuballing' 'Dungog'
 'Carnarvon' 'Hindmarsh' 'Wyndham-East Kimberley' 'Beverley'
 'Ravensthorpe' 'Joondalup' 'Coober Pedy' 'Katherine' 'Dalwallinu'
 'Gnowangerup' 'Wongan-Ballidu' 'Collie' 'Cootamundra-Gundagai'
 'East Pilbara' 'Menzies' 'Halls Creek' 'Irwin' 'Yarrabah' 'Pingelly'
 'Cue' 'Kalamunda' 'Quairading' 'Mornington' 'Wandering' 'Nannup'
 'Broken Hill' 'Ngaanyatjarraku' 'Corrigin'
 'Anangu Pitjantjatjara Yankunytjatjara' 'Fremantle' 'Toodyay'
 'Streaky Bay' 'Victoria Plains' 'Northampton' 'Bridgetown-Greenbushes'
 'Kimba' 'Katanning' 'Jerramungup' 'Carnamah' 'Ashburton' 'West Arthur'
 'Mount Gambier' 'South Perth' 'Brookton' 'Burke' 'Nedlands'
 'Franklin Harbour' 'Waroona' 'Cunderdin' 'Cranbrook' 'Kellerberrin'
 'Wagait' 'Weipa' 'Pormpuraaw' 'Bourke' 'Palm Island' 'West Daly'
 'Mosman Park' 'Narrogin' 'Merredin' 'Westonia' 'Morawa' 'Claremont'
 'Mingenew' 'Goomalling' 'Subiaco' 'Trayning' 'Shark Bay' 'Exmouth'
 'Sandstone' 'Boyup Brook' 'Cottesloe ' 'Leonora']
National Road Type: ['Arterial Road' 'Local Road' 'National or State Highway'
 'Sub-arterial Road' 'Collector Road' 'Pedestrian Thoroughfare'
 'Access road' 'Busway']
Christmas Period: ['Yes' 'No']
Easter Period: ['No' 'Yes']
Age Group: ['65_to_74' '17_to_25' '26_to_39' '40_to_64' '0_to_16' '75_or_older']
Day of week: ['Weekday' 'Weekend']
Time of day: ['Night' 'Day']

## **Creating Node and Relationship Tables**
The data has been cleaned (no duplicates, no nulls, no invalid values). The raw dataset will be split into node and relationship tables.

From the above table we can **identify the following entities:**
1. **Crash:** each crash event, using Crash ID as an identifier
2. **Person:** people involved in the fatalities
3. **Location:** geographical attributes of the crash
4. **Vehicle:** involvement of vehicles in the crash
5. **Time:** time period when the crash occurred
6. **Road:** road conditions of the crash

The following **relationships** can also be identified:
1. **KILLED** (Crash $\rightarrow$ Person)
    - **DIED_IN** (Person $\rightarrow$ Crash)
2. **OCCURRED_AT** (Crash $\rightarrow$ Location)
    - **HAS_CRASH** (Location $\rightarrow$ Crash)
3. **INVOLVED** (Crash $\rightarrow$ Vehicle) 
4. **ON_ROAD** (Crash $\rightarrow$ Road)
5. **HAPPENED_ON** (Crash $\rightarrow$ Time)
6. **KILLED_AT** (Person $\rightarrow$ Location)

In [79]:
# crash node
df_crash = df[['Crash ID', 'Crash Type', 'Number Fatalities']]
df_crash = df_crash.drop_duplicates()
df_crash.to_csv('nodes_relationships/node_crash.csv', index=False)
df_crash

       Crash ID Crash Type  Number Fatalities
0      20241115     Single                  1
1      20241125     Single                  1
2      20246013     Single                  1
3      20241002     Single                  1
4      20243185     Single                  1
...         ...        ...                ...
10485  20144079     Single                  1
10486  20145055     Single                  1
10487  20144007     Single                  1
10488  20145072     Single                  1
10489  20145108     Single                  1

[9683 rows x 3 columns]

In [80]:
# person node
df_person = df[['Gender', 'Age', 'Road User', 'Age Group']]
df_person = df_person.drop_duplicates().reset_index(drop=True)
df_person['Person ID'] = df_person.index + 1
df_person.to_csv('nodes_relationships/node_person.csv', index=False)
df_person

     Gender  Age         Road User    Age Group  Person ID
0      Male   74            Driver     65_to_74          1
1    Female   19            Driver     17_to_25          2
2    Female   33            Driver     26_to_39          3
3    Female   32            Driver     26_to_39          4
4    Female   61         Passenger     40_to_64          5
..      ...  ...               ...          ...        ...
816  Female   64  Motorcycle rider     40_to_64        817
817  Female   43     Pedal cyclist     40_to_64        818
818    Male   86  Motorcycle rider  75_or_older        819
819  Female   49     Pedal cyclist     40_to_64        820
820    Male   33     Pedal cyclist     26_to_39        821

[821 rows x 5 columns]

In [81]:
# killed relationship
df_killed = df.merge(df_person, on=['Gender', 'Age', 'Road User', 'Age Group'])
df_killed = df_killed[['Crash ID', 'Person ID']]
df_killed.to_csv('nodes_relationships/rel_killed.csv', index=False)
df_killed

       Crash ID  Person ID
0      20241115          1
1      20241125          2
2      20246013          3
3      20241002          4
4      20243185          5
...         ...        ...
10485  20144079         62
10486  20145055        187
10487  20144007        451
10488  20145072        278
10489  20145108         33

[10490 rows x 2 columns]

In [82]:
# time node
df_time = df[['Month', 'Year', 'Dayweek', 'Time', 'Time of day', 'Day of week', 'Christmas Period', 'Easter Period']]
df_time = df_time.drop_duplicates().reset_index(drop=True)
df_time['Time ID'] = df_time.index + 1
df_time.to_csv('nodes_relationships/node_time.csv', index=False)
df_time

,Month,Year,Dayweek,Time,Time of day,Day of week,Christmas Period,Easter Period,Time ID
0,12,2024,Friday,4:00,Night,Weekday,Yes,No,1
1,12,2024,Friday,6:15,Day,Weekday,No,No,2
2,12,2024,Friday,9:43,Day,Weekday,Yes,No,3
3,12,2024,Friday,10:35,Day,Weekday,No,No,4
4,12,2024,Friday,13:00,Day,Weekday,No,No,5
...,...,...,...,...,...,...,...,...,...
9419,1,2014,Thursday,14:40,Day,Weekday,No,No,9420
9420,1,2014,Tuesday,16:42,Day,Weekday,No,No,9421
9421,1,2014,Tuesday,20:00,Night,Weekday,No,No,9422
9422,1,2014,Tuesday,21:30,Night,Weekday,No,No,9423
9423,1,2014,Wednesday,11:47,Day,Weekday,Yes,No,9424

In [83]:
# happened_on relationship
df_happened_on = df.merge(df_time, on=['Month', 'Year', 'Dayweek', 'Time', 'Time of day', 'Day of week', 'Christmas Period', 'Easter Period'])
df_happened_on = df_happened_on[['Crash ID', 'Time ID']]
df_happened_on.to_csv('nodes_relationships/rel_happened_on.csv', index=False)
df_happened_on

       Crash ID  Time ID
0      20241115        1
1      20241125        2
2      20246013        3
3      20241002        4
4      20243185        5
...         ...      ...
10485  20144079     9420
10486  20145055     9421
10487  20144007     9422
10488  20145072     9423
10489  20145108     9424

[10490 rows x 2 columns]

In [84]:
# road node
df_road = df[['National Road Type', 'Speed Limit']]
df_road = df_road.drop_duplicates().reset_index(drop=True)
df_road['Road ID'] = df_road.index + 1
df_road.to_csv('nodes_relationships/node_road.csv', index=False)
df_road

           National Road Type  Speed Limit  Road ID
0               Arterial Road          100        1
1                  Local Road           80        2
2                  Local Road           50        3
3   National or State Highway          100        4
4           Sub-arterial Road          100        5
..                        ...          ...      ...
75          Sub-arterial Road           30       76
76              Arterial Road           10       77
77                 Local Road            5       78
78             Collector Road           75       79
79    Pedestrian Thoroughfare          100       80

[80 rows x 3 columns]

In [85]:
# on_road relationship
df_on_road = df.merge(df_road, on=['National Road Type', 'Speed Limit'])
df_on_road = df_on_road[['Crash ID', 'Road ID']]
df_on_road.to_csv('nodes_relationships/rel_on_road.csv', index=False)
df_on_road

       Crash ID  Road ID
0      20241115        1
1      20241125        2
2      20246013        3
3      20241002        4
4      20243185        4
...         ...      ...
10485  20144079        8
10486  20145055       16
10487  20144007        3
10488  20145072        8
10489  20145108        4

[10490 rows x 2 columns]

In [86]:
# vehicle node
df_vehicle = df[['Bus Involvement', 'Heavy Rigid Truck Involvement', 'Articulated Truck Involvement']]
df_vehicle = df_vehicle.drop_duplicates().reset_index(drop=True)
df_vehicle['Vehicle ID'] = df_vehicle.index + 1
df_vehicle.to_csv('nodes_relationships/node_vehicle.csv', index=False)
df_vehicle

,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,Vehicle ID
0,No,No,No,1
1,No,No,Yes,2
2,Yes,No,Yes,3
3,No,Yes,No,4
4,No,Yes,Yes,5
5,Yes,No,No,6
6,Yes,Yes,No,7

In [87]:
# involved relationship
df_involved = df.merge(df_vehicle, on=['Bus Involvement', 'Heavy Rigid Truck Involvement', 'Articulated Truck Involvement'])
df_involved = df_involved[['Crash ID', 'Vehicle ID']]
df_involved.to_csv('nodes_relationships/rel_involved.csv', index=False)
df_involved

       Crash ID  Vehicle ID
0      20241115           1
1      20241125           1
2      20246013           1
3      20241002           1
4      20243185           1
...         ...         ...
10485  20144079           2
10486  20145055           1
10487  20144007           1
10488  20145072           1
10489  20145108           1

[10490 rows x 2 columns]

In [88]:
# location node 
df_location = df[['State','SA4 Name 2021', 'National LGA Name 2024', 'National Remoteness Areas']]
df_location = df_location.drop_duplicates().reset_index(drop=True)
df_location['Location ID'] = df_location.index + 1
df_location.to_csv('nodes_relationships/node_location.csv', index=False)
df_location

,State,SA4 Name 2021,National LGA Name 2024,National Remoteness Areas,Location ID
0,NSW,Riverina,Wagga Wagga,Inner Regional Australia,1
1,NSW,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Inner Regional Australia,2
2,TAS,Launceston and North East,Northern Midlands,Inner Regional Australia,3
3,NSW,New England and North West,Armidale,Outer Regional Australia,4
4,QLD,Toowoomba,Lockyer Valley,Inner Regional Australia,5
...,...,...,...,...,...
781,WA,Western Australia - Wheat Belt,Gnowangerup,Outer Regional Australia,782
782,WA,Bunbury,Boyup Brook,Outer Regional Australia,783
783,WA,Perth - Inner,Cottesloe,Major Cities of Australia,784
784,WA,Western Australia - Wheat Belt,Wickepin,Remote Australia,785
785,WA,Western Australia - Outback (South),Leonora,Very Remote Australia,786

In [89]:
# occurred_at relationship
df_occurred_at = df.merge(df_location, on=['State','SA4 Name 2021', 'National LGA Name 2024', 'National Remoteness Areas'])
df_occurred_at = df_occurred_at[['Crash ID', 'Location ID']]
df_occurred_at.to_csv('nodes_relationships/rel_occurred_at.csv', index=False)
df_occurred_at

       Crash ID  Location ID
0      20241115            1
1      20241125            2
2      20246013            3
3      20241002            4
4      20243185            5
...         ...          ...
10485  20144079           13
10486  20145055          542
10487  20144007          134
10488  20145072          617
10489  20145108          604

[10490 rows x 2 columns]

In [90]:
# killed_at relationship
df_killed_at = df_occurred_at.merge(df_killed, on=['Crash ID'])
df_killed_at = df_killed_at.drop(columns='Crash ID')
df_killed_at.to_csv('nodes_relationships/rel_killed_at.csv', index=False)
df_killed_at

       Location ID  Person ID
0                1          1
1                2          2
2                3          3
3                4          4
4                5          5
...            ...        ...
12499           13         62
12500          542        187
12501          134        451
12502          617        278
12503          604         33

[12504 rows x 2 columns]